/* -- Hide all name choices, initially -- */
[id|="f"], [id|="f"] + label,
[id|="m"], [id|="m"] + label,
[id|="n"], [id|="n"] + label {
    display: none;
}

/* -- Displays name choices depending on chosen gender -- */
#female:checked ~ #pc-name + label > .pc-name > [id|="f"],
#female:checked ~ #pc-name + label > .pc-name > [id|="f"] + label,

#male:checked ~ #pc-name + label > .pc-name > [id|="m"],
#male:checked ~ #pc-name + label > .pc-name > [id|="m"] + label,

#nb:checked ~ #pc-name + label > .pc-name > [id|="n"],
#nb:checked ~ #pc-name + label > .pc-name > [id|="n"] + label {
    display: inline;
}

/* -- Hide all mentions of gender in text, initially -- */
[class|="gen"] {
    display: none;
}
/* -- Display mentions of gender in text based on chosen gender -- */
#female:checked ~ #pc-name + label .gen-female,
#male:checked ~ #pc-name + label .gen-male,
#nb:checked ~ #pc-name + label .gen-nb {
    display: initial;
}

/* -- Hide all names in text, initially -- */
[class|="name"] {
    display: none;
}
/* -- Display name in text based on chosen name -- */
#f-1:checked ~ #poc + label .name-f1,
#f-2:checked ~ #poc + label .name-f2,
#f-3:checked ~ #poc + label .name-f3,

#m-1:checked ~ #poc + label .name-m1,
#m-2:checked ~ #poc + label .name-m2,
#m-3:checked ~ #poc + label .name-m3,

#n-1:checked ~ #poc + label .name-n1,
#n-2:checked ~ #poc + label .name-n2,
#n-3:checked ~ #poc + label .name-n3 {
    display: initial;
}
/* -- Fix for weird punctuation spacing in text after options list -- */
.punct {
    margin-left: -0.25em;
}

/* -- Don't display checkbox buttons -- */
#start, #pc-name, #pc-gender, #poc {
    display: none;
}

/* -- Disable pointer events, except for radio input, labels & continue text -- */
[id] + label > div > [class|="pcqu"] ~ label,
[id] + label > div > [class|="pcqu"] ~ [type="radio"] {
    pointer-events: auto;
}
[id] + label, [id] + label > *,
[id] + label > div > [class|="pcqu"] ~ label:last-of-type {
    pointer-events: none;
}
[id] + label > div > p > .continue {
    pointer-events: auto;
}

/* -- Hide nested & checked checkboxes -- */
[id] + label > div > [id] + label > div,
[id]:checked + label > div > * {
    display: none !important;
}
/* -- Display nested checkbox after parent is checked -- */
[id]:checked + label > div > [id] + label > div,
[id]:checked + label > div > label:last-of-type {
    display: initial !important;
}

/* -- Hide continue until option selected -- */
[type="radio"] ~ p > .continue {
    display: none;
}
[type="radio"]:checked ~ p > .continue {
    display: initial;
}