* {
    box-sizing: border-box;
}
body {
    margin: 2rem;
}
.wrapper {
    display: grid;
    grid-template: 
    "header nav"
    "main main"
    "footer footer"
    / 20%;
}
header, nav, main, footer {
    border: 1px solid red;
}
header {
    grid-area: header;
}
nav {
    grid-area: nav;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 2rem;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
nav li {
    display: inline;
    min-width: 6rem;
    width: 15%;
    margin: 0 0 0 4rem;
}
nav li a {
    display: inline-block;
    border: 1px red solid;
    width: 100%;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
}
main {
    grid-area: main;
    padding: 0 2rem 2rem 2rem;
}
footer {
    grid-area: footer;
    text-align: center;
    padding: 0.5rem 1rem;
}

@media (max-width: 775px) {
    .wrapper {
        display: grid;
        grid-template: 
        "header nav"
        "main main"
        "footer footer"
        / 12rem;
    }
}
@media (max-width: 615px) {
    .wrapper {
        display: grid;
        grid-template: 
        "header"
        "nav"
        "main"
        "footer";
    }
    nav ul {
        margin: 0;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
    }
    nav li {
        display: initial;
        margin: 0 0 0.5rem 0;
        width: 99%;
    }
}
@media (max-width: 450px) {
    body {
        margin: 8px;
    }
}